@import '../../../../styles/style.scss';

.task-list-container {
  .task-list-options, .add-task-container {
    position: relative;
  }
  .task-list-options {
    position: relative;
    display: flex;
    justify-content: flex-end;
  }
  .task-list-edit-options {
    display: flex;
    align-items: center;
    height: 30px;
    margin: 15px 0 !important;
    .task-select-list {
      margin-right: 10px;
    }
    .task-edit-icons {
      display: flex;
      align-items: center;
      .edit-icon {
        padding: 3px 7px;
      }
      .postpone-data-container {
        position: relative;
        .postpone-list-container {
          position: absolute;
          z-index: 1005
        }
      }
    }
  }
  .task-list-field {
    margin: 20px 0 0;
    height: 22px;
    padding: 0 15px;
    .task-icons {
      padding: 3px;
      border: 1px solid grey;
    }
    .option-btn {
      border: 0px;
      background-color: $whiteBackground;
      width: 100px;
      height: 30px;
      top: 2px;
      z-index: 999;
    }
    .option-btn:focus {
      outline: 0px;
    }
    .active-btn {
      border: 1px dotted $lightBlackBackground;
      border-radius: 2px;
      border-bottom: 0px;
      height: 32px !important;
      color: $mainHeadline !important;
    }
    .add-task-btn {
      position: absolute;
      top: 30px;
      right: 50px;
      width: 90px;
      margin: 10px 0;
      height: 30px;
      background-color: $mainHeadline;
      border: 0px;
      border-radius: 3px;
      color: $whiteBackground;
    }
    .add-task-btn:disabled {
      background-color: $blueBackground;
    }
    .add-task-input-field {
      width: 97%;
      height: 25px;
      padding: 0 5px;
    }
  }
  .add-task-container {
    height: 70px !important;
  }
  .task-lists-view {
    height: 20px;
    display: flex;
    .task-tag-names-list {
      display: flex;
      margin-left: 10px;
    }
    .task-tag-field {
      width: fit-content;
      padding: 0 5px;
      margin-left: 10px;
      background-color: $taskTagChip;
      border-radius: 5px;
      font-size: $smallText;
      font-weight: 500;
      color: $whiteBackground;
      .task-tag-remove-icon {
        margin: 0 3px 0 5px;
        font-size: $smallIcon;
      }
    }
  }
  hr {
    border-style: dotted;
    opacity: 0.2 !important;
  }
}