@import '../../../../styles/style.scss';

.task-detail-container {
  .task-detail-info-view {
    padding: 20px;
    height: 230px;
    .task-text-field {
      width: 100%;
      height: 25px;
    }
    .task-full-info {
      padding: 15px 15px 0;
      .task-full-info-data {
        margin: 10px 0;
        display: flex;
        .task-data-field-label {
          width: 20%;
        }
        .task-data-input-field {
          width: 30%;
        }
        .task-tag-field {
          width: fit-content;
          padding: 0 5px;
          margin-right: 10px;
          background-color: $taskTagChip;
          border-radius: 5px;
          font-size: $smallText;
          font-weight: 500;
          color: $whiteBackground;
          .task-tag-remove-icon {
            margin: 0 3px 0 5px;
            font-size: $smallIcon;
          }
        }
      }
    }
    .edit-task-btn-container {
      display: flex;
      justify-content: flex-end;
      .edit-task-data-btn {
        background-color: $mainHeadline;
        width: 80px;
        height: 30px;
        border: 0px;
        border-radius: 3px;
        color: $whiteBackground;
      }
    }
  }
  .task-notes-container {
    .add-task-note-container {
      display: flex;
      flex-direction: column;
      padding: 20px;
      position: relative;
      height: 60px;
      .add-note-field {
        height: 25px;
      }
      .add-note-btn {
        position: absolute;
        width: 100px;
        height: 30px;
        background-color: $mainHeadline;
        color: $whiteBackground;
        border: 0px;
        border-radius: 3px;
        top: 60px;
        right: 25px;
      }
      .add-note-btn:disabled{
        background-color: $blueBackground;
      }
    }
    .added-task-notes-container {
      .added-task-note {
        height: 20px;
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
        .note-icon{
          margin-left: 15px;
        }
      }
      .note-edit-field {
        display: flex;
        justify-content: space-between;
        padding: 0 15px;
        .note-edit-input-field {
          width: 60%;
          height: 30px;
        }
        .note-edit-input-btn {
          width: 20%;
          background-color: $mainHeadline;
          height: 30px;
          border: 0px;
          border-radius: 3px;
          color: $whiteBackground;
        }
      }
    }
  }
}