@import "./variables/color";
@import "./variables/font";

body {
  margin: 0;
  font-family: $fontFamily;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

.app {
  min-height: 100vh;
  background-color: $blueBackground;
  display: flex;
  padding: 10px 10px 0;
  .navigation-view {
    width: 15%;
    padding: 10px;
  }
  .task-list-view, .task-detail-view {
    width: 42%;
    background-color: $whiteBackground;
    margin-right: 10px;
    border: 1px solid transparent;
    border-radius: 3px;
  }
  hr {
    opacity: 0.5;
  }
}