@import '../../../../styles/style.scss';

.navigation-container {
  .navigation-heading {
    color: $mainHeadline;
    font-size: $textHeading;
    text-transform: capitalize;
  }
  
  .navigation-lists {
    margin-top: 10px;
    .navigation-list-item {
      padding: 0 5px;
      .navigate-item-icon {
        padding-right: 10px;
      }
      .list-item-view {
        display: flex;
        justify-content: flex-start;
        .sub-navigation-list-item {
          text-transform: capitalize;
          padding-left: 25px;
        }
        .list-item-header {
          width: 100%;
          display: flex;
          justify-content: space-between;
        }
      }
      .fa-icon {
        color: $mainHeadline;
      }
    }
    .sub-navigation-list {
      display: flex;
      flex-direction: column;
      .nav {
        list-style: none;
        margin: 0;
        padding: 0;
        .nav-list {
          width: 100%;
          a {
            text-decoration: none;
            color: black;
          }
        }
      }
    }
    .line-height {
      line-height: 25px;
    }
    .line-height:hover {
      background-color: $lightBlueBackground;
    }
  }
}