@import '../app-color';

$blueBackground: map-get($appColor, BLUE_BACKGROUND);
$whiteBackground: map-get($appColor, WHITE_BACKGROUND);
$mainHeadline: map-get($appColor, MAIN_HEADLINE);
$blackBackground: map-get($appColor, DARK_BLACK);
$lightBlackBackground: map-get($appColor, LIGHT_BLACK);
$lightBlueBackground: map-get($appColor, LIGHT_BLUE);
$whiteTransparentBackground: map-get($appColor, WHITE_TRANSPARENT);
$greyBackground: map-get($appColor, GREY_DARK);
$taskTagChip: map-get($appColor, TASK_TAG_CHIP);
$activeTaskBackground: map-get($appColor, ACTIVE_TASK_BACKGROUND);