@import '../font-size';

$fontFamily: map-get($appFontType, FONT_FAMILY);
$textHeading: map-get($appFontSize, HEADING);
$smallText: map-get($appFontSize, SMALL_FONT);
$smallIcon: map-get($appFontSize, SMALL_ICON);