@import '../../../../../styles/style.scss';

.add-task-data-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: $whiteTransparentBackground;
  z-index: 2999;
  display: flex;
  justify-content: center;
  align-items: center;
  .add-task-data-view {
    width: 30%;
    background-color: $whiteBackground;
    height: 150px;
    padding: 20px;
    border: 1px solid $greyBackground;
    border-radius: 3px;
    .add-task-data-label {
      font-weight: 500;
    }
  }
  .task-data-input-field {
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    .task-data-subtitle {
      font-size: 0.9rem;
      padding-bottom: 10px;
    }
  }
  .add-task-data-handler-btn {
    padding-top: 10px;
    .add-task-data-btn {
      width: 65px;
      height: 30px;
      border: 0px;
      border-radius: 3px;
      margin-right: 20px;
    }
    .add-btn {
      background-color: $mainHeadline;
      color: $whiteBackground;
    }
    .add-btn:disabled {
      background-color: $blueBackground;
    }
  }
}